*
{
  margin: 0px;
  padding: 0px;
}
#tophead
{
  display: flex;
  flex-direction: column;
}
.heads
{
  padding: 0px 50px;
}
.head1
{
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
#jordan
{
  width: 24px;
  height: 24px;
}
#jordan:hover
{
  filter: opacity(50%);
}
#fhjs ul
{
  list-style: none;
}
#fhjs ul li
{
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 0px 6px;
}
#fhjs ul li a
{
  color: black;
  text-decoration: none;
}
#fhjs ul li a:hover
{
  color: #757575;
}
.head2
{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mwkcss
{
  margin-left: 200px;
}
#mwkcss ul
{
  list-style: none;
}
#mwkcss ul li
{
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 0px 8px;
}
.head2 img
{
  width: 60px;
  height: 22px;
}
.head2 img:hover
{
  filter: opacity(50%);
}
#shb
{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
#shb input
{
  background-color: #f5f5f5;
  font-size: 16px;
  border-radius: 18px;
  padding: 8px;
  width: 175px;
  padding-left: 50px;
  border: none;
}
#shb svg
{
  width: 22px;
  height: 22px;
  margin-left: 20px;
  padding: 6px;
  filter: opacity(85%);
}
#searchicon
{
  scale: 0.8;
  position: absolute;
  left: -15px;
}
#shb svg:hover
{
  background-color: #e5e5e5;
  border-radius: 50%;
}
#shb input:hover
{
  background-color: #e5e5e5;
}
.head3
{
  background-color: #f5f5f5;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.head3 p
{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.head3 span
{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.head3 span a
{
  color: black;
}
#container
{
  height: 100vh;
  margin: 0px 50px;
}
#container a img
{
  width: 100%;
  height: 100%;
}
#container2
{
  height: 100vh;
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  cursor: pointer;
}
.goout
{
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
}
.text1
{
  margin-left: 180px;
  margin-right: 180px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.5px;
  font-size: 14.5px;
  line-height: 24px;
}
#shop
{
  color: white;
  background-color: black;
  padding: 8px 18px;
  font-size: 16px;
  border-radius: 22px;
}
#shop:hover
{
  filter: opacity(65%);
}
#section2
{
  margin: 0px 50px;
}
#section2 h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-top: 100px;
  margin-bottom: 20px;
}
#category
{
  display: flex;
  justify-content: space-between;
}
#category div
{
  width: 32.75%;
  position: relative;
}
#category div img
{
  width: 100%;
  height: 100%;
}
#category div button
{
  position: absolute;
  left: 50px;
  bottom: 48px;
  color: white;
  background-color: black;
  padding: 9px 18px;
  font-size: 15.5px;
  border: none;
  border-radius: 22px;
}
#category div button:hover
{
  background-color: #757575;
}
