*
{
  margin: 0px;
  padding: 0px;
}
p
{
  font-family: 'Roboto', sans-serif;
}
#tophead
{
  display: flex;
  flex-direction: column;
}
.heads
{
  padding: 0px 50px;
}
.head1
{
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
#jordan
{
  width: 24px;
  height: 24px;
}
#jordan:hover
{
  filter: opacity(50%);
}
#fhjs ul
{
  list-style: none;
}
#fhjs ul li
{
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 0px 6px;
}
#fhjs ul li a
{
  color: black;
  text-decoration: none;
}
#fhjs ul li a:hover
{
  color: #757575;
}
.head2
{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mwkcss
{
  margin-left: 200px;
}
#mwkcss ul
{
  list-style: none;
}
#mwkcss ul li
{
  float: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 0px 8px;
}
.head2 img
{
  width: 60px;
  height: 22px;
}
.head2 img:hover
{
  filter: opacity(50%);
}
#shb
{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
#shb input
{
  background-color: #f5f5f5;
  font-size: 16px;
  border-radius: 18px;
  padding: 8px;
  width: 175px;
  padding-left: 50px;
  border: none;
}
#shb svg
{
  width: 22px;
  height: 22px;
  margin-left: 20px;
  padding: 6px;
  filter: opacity(85%);
}
#searchicon
{
  scale: 0.8;
  position: absolute;
  left: -15px;
}
#shb svg:hover
{
  background-color: #e5e5e5;
  border-radius: 50%;
}
#shb input:hover
{
  background-color: #e5e5e5;
}
.head3
{
  background-color: #f5f5f5;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.head3 p
{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.head3 span
{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.head3 span a
{
  color: black;
}
#container
{
  height: 100vh;
  margin: 0px 50px;
}
#container a img
{
  width: 100%;
  height: 100%;
}
.container2
{
  height: 100vh;
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  cursor: pointer;
}
.goout
{
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: -2px;
}
.text1
{
  margin-left: 180px;
  margin-right: 180px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.5px;
  font-size: 14.5px;
  line-height: 24px;
}
#shop
{
  color: white;
  background-color: black;
  padding: 8px 18px;
  font-size: 16px;
  border-radius: 22px;
}
#shop:hover
{
  filter: opacity(65%);
}
#section2
{
  margin: 0px 50px;
}
#section2 h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.category
{
  display: flex;
  justify-content: space-between;
}
.category div
{
  width: 32.75%;
  position: relative;
}
.category div img
{
  width: 100%;
  height: 100%;
}
.category div button
{
  position: absolute;
  left: 50px;
  bottom: 48px;
  color: white;
  background-color: black;
  padding: 9px 18px;
  font-size: 15.5px;
  border: none;
  border-radius: 22px;
}
.category div button:hover
{
  background-color: #757575;
}
#section3
{
  margin: 100px 50px;
}
#spot
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spotlight
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: bold;
}
#spot div
{
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}
#spot div button
{
  background-color: #f6f6f6;
  color: #575757;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#spot div button:hover
{
  background-color: #cccccc;
}
.slideshop
{
  font-size: 16px;
  font-weight: bold;
}
#shoecards
{
  display: flex;
  margin-top: 15px;
  overflow: scroll;
}
#shoecards::-webkit-scrollbar {
  display: none;
}
.shoes
{
  margin-right: 15px;
}
.details
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.shoe
{
  width: 450px;
  height: 450px;
}
.details div p:first-child
{
  font-weight: bold;
}
.details div p:nth-child(2)
{
  font-weight: bold;
  color: gray;
}
.details p
{
  font-weight: bold;
}
#section4
{
  margin: 0px 50px;
}
#section4 h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-top: 140px;
  margin-bottom: 20px;
}
#feature
{
  display: flex;
  justify-content: space-between;
}
.shopcat
{
  width: 49.5%;
  position: relative;
}
.shopcat img
{
  width: 100%;
  height: 100%;
}
.shopcat button
{
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: black;
  background-color: white;
  padding: 9px 18px;
  font-size: 15.5px;
  border: none;
  border-radius: 22px;
}
.shopcat button:hover
{
  background-color: #b2b2b2;
}
#section5
{
  margin: 0px 50px;
}
#section5 h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-top: 100px;
  margin-bottom: 20px;
}
#section5 a img
{
  width: 100%;
}
#section6
{
  margin: 0px 50px;
}
#section6 h3
{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
}
#section6 div div button
{
  color: black;
  background-color: white;
}
#section6 div div button:hover
{
  background-color: #b2b2b2;
}
#models
{
  margin: 0px 200px;
  display: flex;
  justify-content: center;
}
#models table
{
  margin-top: 130px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin-left: 75px;
}
th
{
  height: 52px;
  font-weight: bold;
  font-size: 17px;
}
td
{
  color: #757575;
  font-weight: bold;
  font-size: 15px;
  width: 230px;
  height: 33px;
}
td:hover
{
  color: black;
}
#footer
{
  margin-top: 70px;
  height: 40vh;
  background-color: black;
  display: flex;
}
#footer div a
{
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -1px;
}
.biglinks
{
  color: white;
}
#footlink1
{
  display: flex;
  flex-direction: column;
}
#footlink2
{
  display: flex;
  flex-direction: column;
}
#footlink3
{
  margin-left: -10px;
  display: flex;
  flex-direction: column;
}
.footlinks
{
  margin: 50px 80px;
}
.footlinks a
{
  font-weight: bold;
  font-size: 12.5px;
  margin: 8px 0px;
}
.smalllinks
{
  color: #7e7e7e;
}
.smalllinks:hover
{
  color: white;
}